<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add New Plant</title>
</head>
<body>

<h1>Add a new Plant</h1>

<form action="/add_plant" method="get">
    <p>Plant Name: <input type="text" name="name" maxlength="30"/> </p>
    <p>Humidity Goal compared to calibration (-100% - 100%): <input type='number' name='goal' min="-100" max="100"/></p>
    <p>sID: <input type="number" name="sid"/></p>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    <p><input type='submit' value='Add Plant'/></p>
</form>

<p><a href="/home"> Go back to home page.</a></p>
</body>
</html>